{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script><!--jquery-->
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script><!--dropdown addon-->

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
<ul class="nav nav-pills">
  <li><a class='btn btn-default' href="/tasklist/">任务列表</a></li>
    <li><a class='btn btn-default' href="/taskdetial/">创建任务</a></li>
  <li><a class='btn btn-default' href="/accounts/logout/">退出系统</a></li>
    </ul>
    </div>
  </div>
</div>


{% block content %} {% endblock %}


</body>
</html>
