{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

	{% if password_is_wrong %}
	    <div class="alert alert-danger">
		<button type = 'button' class='close' data-dismiss='alert'>x</button>
		<h4>错误! </h4>用户名或密码错误！
	    </div>
    {% endif %}

	<div class='well'>

		<p> </p>
		<div class="row">
        <div class="col-xs-6 col-md-4">
        </div>
            <div class="col-xs-6 col-md-4">
            <h1>今天你要干啥系统</h1>

            <form class='form-horizontal' action="" method="post">
			{% csrf_token %}
            <div class="input-group">
            <span class="input-group-addon">Username</span>
            <input type="text" class="form-control" placeholder="Username" id="id_username" name="username">
            </div>
                <br/>
            <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" class="form-control" placeholder="Password" id="id_password" name="password">
            </div>
                <br/>
            <div class="pull-right">
                {% buttons %}
				<button type="submit" class="btn btn-primary"  >
                    {% bootstrap_icon "star" %} Login
				</button>
			    {% endbuttons %}
            </div>

		    </form>
            </div>
		</div>
	</div>
{% endblock %}