{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block extra_head %}
    {{ form.media }}
    <title>Task Detial</title>
{% endblock %}

{% block content %}
    <h1>任务内容</h1>

    {% if form.buyer.value %}

      <div>
      <form class="`form-horizontal" action="" method="get">
          {% csrf_token %}
          <p class="form-actions">
          <input type="submit" value="DELETE" name="delete" class="btn btn-danger">
          </p>
       </form>
       </div>

    {% endif %}

            <div class="well" >
                <div class="row">
        <div class="col-md-4" style="padding-left: 35px ">
                <form enctype="multipart/form-data" class="form-horizontal" action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p class="form-actions">
                <input type="submit" value="提交" class="btn btn-primary">
                <a href="/tasklist/"><input type="button" value="返回列表" class="btn"></a>
                </p>
                    </form>
             </div>
        </div>
    </div>
{% endblock %}
